body {
    position: relative;
    font-family: Poppins, serif; /* Change font to Georgia */
    background-color: #92a8d1;
    color: #333;
    margin: 25px;
}

/*#general-button {*/
/*    !* Variables *!*/
/*    --button_radius: 0.75em;*/
/*    --button_color: #e8e8e8;*/
/*    --button_outline_color: #000000;*/
/*    font-size: 17px;*/
/*    font-weight: bold;*/
/*    border: none;*/
/*    cursor: pointer;*/
/*    margin-top: 10px;*/
/*    border-radius: var(--button_radius);*/
/*    background: var(--button_outline_color);*/
/*}*/

.button_top {
    background-color: #61a6df;
    font-size: 17px;
    font-weight: bold;
    color: #000; /* Change text color to white for better contrast */
}

#home-button:hover .button_top {
    /* Pull the button upwards when hovered */
    transform: translateY(-0.33em);
}

#home-button:active .button_top {
    /* Push the button downwards when pressed */
    transform: translateY(0);
}

.table {
    margin-top: 20px;
    border-collapse: separate;
    border: solid black 1px;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
}

.table thead tr {
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    border: 1px solid black;
    font-weight: bold;
    font-size: 1.25em;

}

.table th {
    color: black;
    border: 1px solid black;
}

.table td {
    border: 1px solid black;
}

.table tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.table-home {
    font-weight: bold;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    font-size: 1.5em;
}

.table-home th {
    color: black;
    border: 1px solid black;
}


input[type="text"] {
    border: 1px solid #ced4da;
    border-radius: 5px;
    height: 25px;
    padding: 10px;
    width: calc(100% - 22px);
    box-sizing: border-box;
}


input[type="submit"] {
    border-radius: 5px;
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

label {
    font-weight: bold;
    font-size: 1.1em;
}


/* Shopping cart button styling */
.cart-button {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
}